<nav class="bg-white text-black font-sans h-[122.85px] flex items-center gap-[224.644px] px-8 border-b">
  <div class="flex-shrink-0">
    <h1 class="text-2xl font-bold">TRIN</h1>
  </div>

  <div class="w-[60%] mx-4">
    <div class="relative">
      <input 
        type="text" 
        placeholder="Search the product here" 
        class="w-full h-12 px-4  px-[17.55px] border border-gray-300 outline-none"
      />
      <span class="absolute inset-y-0 right-4 flex items-center text-gray-500 cursor-pointer">
        <img src="searchIcon.svg" class="h-auto w-auto" alt="Search Icon">
      </span>
    </div>
  </div>

  <!-- Right: Icons -->
  <div class="flex items-center space-x-6">
    <div class="h-8 w-8 flex items-center justify-center">
      <img src="shoppingBag.svg" class="w-auto h-auto" alt="shoppingBag Icon">
    </div>
    <div class="h-8 w-8 flex items-center justify-center">
      <img src="accountIcon.svg" class="w-auto h-auto" alt="Account Icon">
    </div>
    <div class="h-8 w-8 flex items-center justify-center">
      <img src="cartIcon.svg" class="w-auto h-auto" alt="Cart Icon">
    </div>
  </div>
</nav>
