<div class="bg-gray-100">
  <div class="container mx-auto flex flex-col py-12 gap-8 w-full px-4 md:px-8">
    <div class="w-full flex flex-col gap-2 items-center font-bold text-center">
      <h4 class="uppercase text-sm md:text-base lg:text-lg tracking-widest">Our Shoes Design</h4>
      <h1 class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-extrabold">Appreciated by Top Companies</h1>
    </div>
    <div class="flex flex-wrap justify-center items-center gap-8 md:gap-12 ">
      <div *ngFor="let item of Trust_Badges" class="flex-shrink-0 w-24 md:w-28 lg:w-32">
        <img [src]="item.imageSrc" [alt]="'Trust Badge'" class="w-full h-auto object-contain transition-transform hover:scale-110">
      </div>
    </div>
  </div>

</div>
