<div class="flex flex-col gap-4">
  <div class="flex gap-2 mt-4 md:mt-6 text-sm">
    <input type="text" placeholder="Enter Coupon Code"
      class="w-full border border-black rounded-full px-4 py-2 focus:ring-1 focus:ring-black focus:outline-none">
    <button
      class="hover:bg-black bg-white border border-black text-black px-5 py-3 rounded-full font-medium hover:text-white transition disabled:opacity-50 disabled:cursor-not-allowed">
      Apply
    </button>
  </div>
  <div class="space-y-3 py-2">
    <div class="flex justify-between items-center">
      <h4 class="text-sm">Sub total</h4>
      <span class="font-bold">$ {{product?.price?.toFixed(2) || '0.00'}}</span>
    </div>
    <div class="flex justify-between items-center">
      <h4 class="text-sm flex items-center gap-2">
        Discount
      </h4>
      <div class="font-bold">$ {{product?.discount?.toFixed(2) || '0.00'}}</div>
    </div>
    <div class="flex justify-between items-center">
      <h4 class="text-sm">Delivery fee</h4>
      <span class="font-bold">$ {{product?.deliveryFee?.toFixed(2) || '0.00'}}</span>
    </div>
  </div>
  <div class="border-t py-2 flex justify-between items-center rounded-lg">
    <div class="text-sm text-gray-800">Total Amount</div>
    <div class="text-base font-bold text-black">$ {{totalAmount.toFixed(2)}}</div>
  </div>
</div>
